[submodule "WeaNet"]
	path = WeaNet
	url = https://github.com/parsapournabi/WeaNet.git
[submodule "WeaChart"]
	path = WeaChart
	url = https://github.com/parsapournabi/WeaChart.git
[submodule "WeaModel"]
	path = WeaModel
	url = https://github.com/parsapournabi/WeaModel.git
[submodule "WeaShader"]
	path = WeaShader
	url = https://github.com/parsapournabi/WeaShader.git
[submodule "WeaCore"]
	path = WeaCore
	url = https://github.com/parsapournabi/WeaCore.git
[submodule "WeaQuick"]
	path = WeaQuick
	url = https://github.com/parsapournabi/WeaQuick.git
